body{
    background-color: black;
    color: white;

}

.pokemon-title {
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 2.5rem;
  color: #ffcb05; /* Jaune Pokémon */
  text-shadow: 2px 2px 0 #3b4cca; /* Bleu Pokémon */
  letter-spacing: 1px;
}

/* Pour avoir ma barre de recherche + petite */
.barre{
    width: 20%;
    
}

/* Classe pour avoir mes élements l'un à côté de l'autre */
.rowStyle{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}


